<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop 2020 Styles</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="header-hero-container">
        <header> 
            <div class="flex header-hero-container">
                <a id="logo" href="#">Orchid</a>
                <nav class="nav">
                    <button id="nav-toggle" class="hamburger-menu">
                        <span class="strip"></span>
                        <span class="strip"></span>
                        <span class="strip"></span>
                    </button>

                    <ul>
                        <li>
                            <a href="#" class="active">Home</a>
                        </li>
                        <li>
                            <a href="#">Women</a>
                        </li>
                        <li>
                            <a href="#">Men</a>
                        </li>
                        <li>
                            <a href="#">Log In</a>
                        </li>
                        <li>
                            <a href="#">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="hero">
            <div class="fade"></div>
            <div class="hero-text">
                <h1>Form follows you.</h1>
                <p>Find your style and express yourself.</p>
            </div>
        </section>
    </div>

    <section id="how-it-works">
        <div class="containter">
            <h2>Styles of the Season</h2>
            <div class='flex'>
                <div>
                    <span class="fab fa-cotton-bureau"></span>
                    <h4>Quality</h4>
                    <p>We make our clothing with only the best materials. We believe that true style also has comfort.</p>
                </div>
                <div>
                    <span class="fas fa-tshirt"></span>
                    <h4>Style</h4>
                    <p>Stay up to date with the latest trends.</p>
                </div>
                <div>
                    <span class="fas fa-shopping-bag"></span>
                    <h4>Ease</h4>
                    <p>Shop from home, or on the go. See something you like? Sign-up and try out our fashion guide.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="slider" id="properties">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://res.cloudinary.com/everlane/image/upload/c_fill,dpr_1.0,f_auto,h_1200,q_auto,w_1200/v1/i/5f9e1e0f_9708.jpg" class="d-block w-100" alt="clothing 1">
                <div class="carousel-caption d-none d-md-block">
                  <h5>The Modern Flannel Shirt $98</h5>
                  <p>Heather Navy | 4 Colors available</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/everlane/image/upload/c_fill,dpr_1.0,f_auto,h_1200,q_auto,w_1200/v1/i/c46da642_d802.jpg" class="d-block w-100" alt="clothing 2">
                <div class="carousel-caption d-none d-md-block">
                  <h5>The Cashmere V-Neck $100</h5>
                  <p>Dark Navy | 8 colors available</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/everlane/image/upload/c_fill,dpr_1.0,f_auto,h_1200,q_auto,w_1200/v1/i/041ec26c_f595.jpg" class="d-block w-100" alt="clothing 3">
                <div class="carousel-caption d-none d-md-block">
                  <h5>The ReNew Reversible Fleece Jacket</h5>
                  <p>Warm Charcoal/ Dark Spice | 3 colors available</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <button class="rounded">View All Seasonal Styles</button>
    </section>
    <section id="the-best">
        <div class="flex container">
            <img src="../static/img/pants.webp" alt="Pants" />
            <div>
                <img class="sweaters" src="../static/sweaters.jpg" alt="Sweaters">
            </div>
        </div>
        <h2>Check out our latest Chinos, or get cozy with our sweaters.</h2>
        
    </section>

    <section id="testimonials">
        <div class="container">
            <h2>Hear from our designers</h2>
            <div id="testimonials-slider">
                <div>
                    <blockquote>
                        <p>"The clothes we make are not just for you. We are trying to push the boundaries of comfort and style."</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="https://onclickwebdesign.com/wp-content/uploads/person_7.jpg" alt="Client 7" />
                        <p>Nick Andros</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>"Officia nostrum vitae explicabo dolore ratione. Quia iure quod ipsa blanditiis sint nulla a nam veritatis ex eos. Dicta molestiae dolorum laudantium."</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="https://onclickwebdesign.com/wp-content/uploads/person_5.jpg" alt="Client 7" />
                        <p>Larry Underwood</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum vitae explicabo dolore ratione. Quia iure quod ipsa blanditiis sint nulla a nam veritatis ex eos. Dicta molestiae dolorum laudantium."</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="https://onclickwebdesign.com/wp-content/uploads/person_8.jpg" alt="Client 7" />
                        <p>Fran Goldsmith</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>

            <div class="flex">
                <div id="form-container">
                    <h3>Contact Form</h3>
                    <form>
                        <label for="name">Name</label>
                        <input type="text" id="name" />

                        <label for="email">Email</label>
                        <input type="text" id="email" />

                        <label for="subject">Subject</label>
                        <input type="text" id="subject" />

                        <label for="message">Message</label>
                        <textarea id="message">Write your message here..</textarea>

                        <button class="rounded">Send Message</button>
                    </form>
                </div>

                <div id="address-container">
                    <label>Address</label>
                    <address>
                        10929 Clothing Drive, Los Angeles, CA, USA
                    </address>

                    <label>Phone</label>
                    <a href="#">111-222-3333</a>

                    <label>Email Address</label>
                    <a href="#">ryan.fortner1@gmail.com | </a>
                    <a href="#">diana.d.chen@gmail.com</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="flex container">
            <div class="footer-about">
                <h5>About Orchid</h5>
                <p>Orchid is a fashion company based out of Los Angeles. Our product focuses on comfort and design, with no compromise. We guarantee you will be happy with your purchase, and we strive to make everyone happy.</p>
            </div>

            <div class="footer-quick-links">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-subscribe">
                <h5>Subscribe to our Newsletter</h5>
                <div id="subscribe-container">
                    <input type="text" placeholder="Enter Email" />
                    <button class="right-rounded">Send</button>
                </div>

                <h5 class="follow-us">Follow Us</h5>
                <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                </ul>
            </div>
        </div>

        <small>
            Coding Dojo Group Project | This site is made with <span class="fa fa-heart"></span> by Ryan Fortner and Diana Chen</a>
        </small>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(window).scroll(function () {
          $('header').toggleClass('scrolled', $(this).scrollTop() > 900);
        });
    </script>

</body>
</html>