@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');



/* start: global styles */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(252, 214, 165);
    line-height: 1.7;
    background-color: #7fa9d3 !important;
}

* {
    outline: none;
}

*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    
    
}

.containercontent-section {
    padding-top:100px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    color: rgb(252, 214, 165);
    margin-bottom: 1rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.4rem;
    font-weight: 300;
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

h5 {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

p {
    margin: 0 0 1rem;
}

button.rounded {
    background: rgb(252, 214, 165);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

p.large-paragraph {
    font-size: 1.25rem;
    font-weight: 300;
}
/* end: global styles */

/* start: header styles */
#header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
}

header {
    background: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.scrolled {
    background-color: slategray;
}


#logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: rgb(252, 214, 165);
    text-decoration: none;
    position: relative;
    top: 4px;
    margin-left: 15px;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

#close-flyout {
    display: none;
}

header ul li a {
    color: #999;
    font-size: 16px;
    text-decoration: none;
}

header ul.is-sticky li a {
    color: #000;
}

header ul li a:hover,
header ul li a.active {
    color: rgb(252, 214, 165);
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
    color: #f69314;
}
/* end: header styles */

/* start: hero section styles */
#hero {
    background: url('https://www.elsetge.cat/myimg/f/29-299561_wallpaper-bella-hadid-american-fashion-model-4k-bella.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#signup {
    background: url("../static/img/rack.jpeg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    
}

#login {
    background: url("../static/img/items.jpeg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    
}


#hero .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(52, 58, 64, 0.9);
    z-index: 1;
}

#hero .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: yellow;
    font: bolder;
    width: 500px;
    text-align: center;
}

#hero h1{
    padding-right: 420px;
}


#hero .hero-text p {
    line-height: 1.5em;
    font-weight: 300;
    font-size: 1rem;
    margin-right: 260px;
}
/* end: hero section styles */

/* start: how-it-works styles */

#how-it-works {
    padding: 3rem 0;
    background: #7fa9d3;
    text-align: center;
}

#how-it-works h2 {
    margin-bottom: 3rem;
}

#how-it-works .flex > div {
    width: 30%;
}

#how-it-works h4 {
    color: rgb(252, 214, 165);
    margin-top: 1rem;
}

#how-it-works span.fas {
    color: rgb(252, 214, 165);
    font-size: 35px;
}

#how-it-works span.fab {
    color: rgb(252, 214, 165);
    font-size: 35px;
}

#how-it-works p {
    color: rgb(252, 214, 165);
}

/* end: how-it-works styles */

/* start: carousel styles */
.carousel-item {
    width: 500px;
    height: 1000px;
    margin: auto;
}

.slider {
    background-color: #7fa9d3;
}

.carousel-item h5 {
    color: rgb(252, 214, 165);
}

.carousel-item p {
    color: rgb(252, 214, 165);
}

/* end: carousel styles */


/* start: testimonial styles */
#agents {
    margin: 4rem 0 6rem;
    padding: 0 0 6rem;
    border-bottom: 1px solid #ccc;
}

#agents p.large-paragraph {
    width: 50%;
    margin-bottom: 4rem;
}

#agents .flex {
    flex-wrap: wrap;
    padding: 0;
}

#agents .card {
    width: 32%;
    background: #f0f0f0;
    margin-bottom: 2rem;
}

.card {
    margin-top: 300px;
    margin-left: 650px;
    width: 630px;
    height: 530px;
    background-color: rgb(252, 214, 165) !important;
    color: black;
}

.card h3 {
    margin: 10px 10px 10px 130px;
    font-family: 'Raleway', sans-serif;
}

#login .card h3 {
    margin: 10px 10px 10px 210px;
    font-family: 'Raleway', sans-serif;
}

.card p {
    font-family: 'Raleway', sans-serif;
    margin-left: 257px;
}

#login .card p {
    font-family: 'Raleway', sans-serif;
    margin-left: 245;
}

.card label {
    font-family: 'Raleway', sans-serif;
}

.card button {
    margin-left: 235px;
}

#agents .card img {
    width: 100%;
}

#agents .card h3 {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

#agents .card h3,
#agents .card p {
    padding-left: 1rem;
}
/* end: testimonial styles */

/* start: best selling styles */
#the-best {
    background-color: #7fa9d3;
    margin:25px;
}

#the-best .flex > img {
    width: 47%;
}

#the-best .flex > div {
    width: 40%;
}

#the-best ul {
    padding-left: 20px;
    margin-bottom: 4rem;
}

#the-best ul li {
    margin: 10px 0;
}

.sweaters {
    height: 650px;
    width: 525px;;
}

.chinos {
    height: 650px;
    width: 525px;
}
#the-best h2 {
    margin-left: 166px;
    style:inline-block;
    text-align: center;
}
/* end: best selling styles */

/* start: services styles */
#services {
    background: #f8f9fa;
    background-color: #7fa9d3;
    padding: 6rem 0;
    margin: 8rem 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

#services h2 {
    text-align: center;
    margin-bottom: 3rem;
}

#services .flex {
    flex-wrap: wrap;
}

#services .flex > div {
    width: 30%;
    margin-bottom: 2rem;
}

#services .flex > div .fas {
    color: rgb(252, 214, 165)314;
    font-size: 40px;
    float: left;
    margin-top: 15px;
    width: 20%;
    text-align: center;
}

#services .flex > div .services-card-right {
    float: right;
    width: 75%;
}

#services .flex > div a {
    color: rgb(252, 214, 165);
    text-decoration: none;
}

#services .flex > div a:hover {
    text-decoration: underline;
}
/* end: services styles */

/* start: testimonials styles */
#testimonials {
    background-color: #7fa9d3;
    color: rgb(252, 214, 165);
    
}

#testimonials h2 {
    text-align: center;
}

#testimonials-slider .slick-slide {
    text-align: center;
}

#testimonials-slider blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 3rem;
    max-width: 740px;
}

#testimonials-slider .testimonials-caption {
    width: 200px;
    margin: 0 auto;
}

#testimonials-slider .testimonials-caption img {
    float: left;
    border-radius: 30px;
    width: 60px;
}

.testimonials-caption p {
    position: relative;
    top: 13px;
    font-size: 1.2rem;
}

#testimonials-slider .slick-arrow {
    text-decoration: none;
    position: absolute;
    font-size: 40px;
    color: rgb(252, 214, 165);
    top: 50%;
    margin-top: -35px;
}
#testimonials-slider .slick-next {
    right: 0;
}
/* end: testimonials styles */

/* start: contact us styles */
#contact {
    background-color: #7fa9d3;
    background: #7fa9d3;
    padding: 4rem 0 8rem;
}

#contact h2 {
    text-align: center;
    margin-bottom: 4rem;
}

#form-container {
    background-color: #7fa9d3;
    width: 58%;
    background: #7fa9d3;
    padding: 3rem;
    box-sizing: border-box;
}

#interested {
    padding-left: 0px !important;
}

#interests {
    padding-right: 9px !important;
}

#form-container h3 {
    color: rgb(252, 214, 165);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2rem;
}

#form-container label {
    display: block;
    color: rgb(252, 214, 165);
    margin-top: 1rem;
}

#form-container input,
#form-container textarea {
    display: block;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    width: 100%;
    box-sizing: border-box;
    height: 43px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #495057;
}

#form-container textarea {
    height: 170px;
    margin-bottom: 2rem;
    resize: none;
}

#address-container {
    width: 38%;
    background: #7fa9d3;
    padding: 1.5rem;
    box-sizing: border-box;
    height: 300px;
    color: rgb(252, 214, 165);
}

#address-container label {
    font-weight: 700;
    display: block;
    margin-top: 2rem;
    color: rgb(252, 214, 165);
}

#address-container label:first-child {
    margin-top: 0;
}

#address-container address {
    margin-bottom: 1.5rem;
    font-style: normal;
}

#address-container a {
    text-decoration: none;
    color: rgb(252, 214, 165);
}

#address-container a:hover {
    text-decoration: underline;
}
/* end: contact us styles */

/* start: footer styles */
footer {
    background: #333;
    padding: 8rem 0;
}

footer .flex {
    padding-bottom: 6rem;
    border-bottom: 1px solid #777;
}

footer h5 {
    color: rgb(252, 214, 165);
    margin-bottom: 1rem;
    font-weight: 300;
}

footer h5.follow-us {
    margin-top: 1rem;
}

footer .footer-about {
    width: 47%;
    color: rgb(252, 214, 165);
}

footer .footer-about p {
    width: 65%;
}

footer .footer-quick-links {
    width: 16%;
}

footer .footer-quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: rgb(252, 214, 165);
}

footer .footer-quick-links ul li {
    margin: 10px 0;
}

footer .footer-quick-links ul li a {
    color: #777;
    text-decoration: none;
}

footer .footer-quick-links ul li a:hover {
    color: #fff;
}

footer .footer-subscribe {
    width: 35%;
}

#subscribe-container {
    position: relative;
}

footer .footer-subscribe input {
    border-radius: 30px;
    height: 43px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #6c757d;
    background-color: transparent;
    font-size: 1rem;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
}

footer button.right-rounded {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: rgb(252, 214, 165);
    font-size: 16px;
    color: #000;
    padding: 10px 30px 9px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
}

footer button.right-rounded:hover {
    background: #7fa9d3;
}

footer .footer-subscribe ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-subscribe ul li {
    display: inline-block;
    margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
    margin-left: 0;
}

footer .footer-subscribe ul li a {
    text-decoration: none;
    color: #777;
}

footer .footer-subscribe ul li a:hover {
    color: #fff;
}

footer small {
    margin-top: 3rem;
    font-size: 1rem;
    display: block;
    text-align: center;
    color: rgb(252, 214, 165);
}

footer small a {
    color: #777;
    text-decoration: none;
}

footer small a:hover {
    color: #fff;
}
/* end: footer styles */

/* start: media queries */
@media (max-width: 991px) {
    #logo {
        top: 1px;
    }

    #nav-toggle {
        display: block;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
      }

    nav ul {
        position: fixed;
        background: rgb(252, 214, 165);
        right: -100%;
        top: 0;
        margin: 0;
        padding: 2rem;
        height: 100%;
        width: 300px;
        box-sizing: border-box;
        box-shadow: 5px 0 10px 3px #999;
    }
    

    #close-flyout {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        font-size: 30px;
        color: #777;
        cursor: pointer;
        display: block;
        line-height: 1;
        margin: 0;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li:first-child {
        margin-top: 50px;
    }
    nav ul li a {
        font-size: 20px;
        
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: #f69314;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .large-paragraph {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .container {
        max-width: 540px;
    }

    #hero .hero-text {
        width: 400px;
        color: #cc2222;
        font-weight: bold;
    }

    #agents .card {
        width: 49%;
    }

    #the-best .flex > img {
        display: none;
    }

    #the-best .flex > div {
        width: 100%;
    }

    #testimonials-slider p {
        font-size: 1.2rem;
    }

    #properties .container:before {
        top: 2px;
        font-size: 0.85rem;
    }

    #properties-slider a.slick-arrow {
        font-size: 0.85rem;
    }

    #properties button.rounded {
        width: 300px;
    }

    #services .flex > div {
        width: 48%;
    }

    #contact .flex {
        flex-wrap: wrap;
    }

    #form-container {
        width: 100%;
        padding: 2rem;
    }

    #address-container {
        width: 100%;
        margin-top: 2rem;
    }

    footer {
        padding: 6rem 0;
    }

    footer .flex {
        flex-wrap: wrap;
    }

    footer .flex > div {
        width: 100%;
        margin-top: 1rem;
    }

    footer .flex > div:first-child {
        margin-top: 0;
    }

    footer .footer-about p {
        font-size: 1rem;
        width: 100%;
        color: rgb(252, 214, 165);
    }

    footer .footer-subscribe input {
        width: 90%;
    }

    footer h5.follow-us {
        margin-top: 2rem;
    }
}

@media (max-width: 500px) {
    #hero .hero-text {
        width: 330px;
    }

    #agents {
        margin: 4rem 0 3rem;
        padding: 0 0 3rem;
    }

    #agents .card {
        width: 100%;
    }

    #agents p.large-paragraph {
        width: 100%;
    }

    #how-it-works .flex {
        display: block;
    }

    #how-it-works .flex > div {
        width: 100%;
        margin-top: 2rem;
    }

    #properties button.rounded {
        width: 250px;
    }

    #services {
        padding: 4rem 0 3rem;
        margin: 4rem 0;
    }

    #services .flex > div {
        width: 100%;
    }

   

    #testimonials-slider p {
        font-size: 1rem;
    }

    #testimonials-slider .slick-arrow {
        display: none !important;
    }

    #contact {
        
    }

    #contact h2 {
        margin-bottom: 2rem;
    }

    #form-container {
        padding: 1.5rem;
    }

    footer {
        padding: 4rem 0;
    }
}
/* end: media queries */

/* start: shopping cart styles */
#header-hero-container-cart {
    background-image: url('../static/img/cart.jpeg');
}



@font-face {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(252, 214, 165)
}

.main-nav li {
    padding: 0 5%;
}



.main-header {
    background-color: rgb(252, 214, 165);
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
    padding-top: 100px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: rgb(252, 214, 165);
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgb(252, 214, 165);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color:rgb(252, 214, 165);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid rgb(252, 214, 165);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: rgb(252, 214, 165);
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(252, 214, 165);
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shirts {
    padding-top: 30px !important;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: rgb(252, 214, 165);
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(252, 214, 165);
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(252, 214, 165);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-item span {
    color: rgb(252, 214, 165);
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: rgb(252, 214, 165);
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(252, 214, 165);
    margin-right: 20px;
}

.cart-total-price {
    color: rgb(252, 214, 165);
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/* end: shopping cart styles */

